body{
    background-color: rgb(225, 230, 230);
    padding: 0;
    margin: 0;
}

.head{
    position: relative;
    height: 15vh;
    text-align: center;
}

.title{
    color: rgb(47, 86, 158);
    font-size: 2.4rem;
}

.main{
    width: 100%;
    height: 30vh;
    margin-top: 0 auto;
    position: relative;
}

.aside{
    display: inline-block;
    width: 30vh;
    height: 100%;
    position:relative;
    bottom: 45px;
    border-right: 3px solid rgb(179, 174, 174);
}

h4{
    padding-left: 20px;
}

.seccion{
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: inline-block;
    padding-left: 100px;
}

span{
    font-weight: bold;
}

.span2{
    color: darkred;
}

.span3{
    color: blueviolet;
}

p{
    font-size: 18px;
}
